fastapi>=0.95.0
uvicorn>=0.21.1
python-multipart>=0.0.6
Pillow>=9.5.0
torch>=2.0.0
google-cloud-storage>=2.8.0  # Include GCS client library
pydantic>=1.10.7
numpy>=1.24.2
python-dotenv>=1.0.0
google-genai
pydantic-settings
psycopg2-binary
moviepy
google-cloud-aiplatform
sqlalchemy>=2.0.39
google-cloud-alloydb-connector[pg8000]
